extends base 

mixin singleComment(review)
  tr
    td.review-author-table
      a.user-link.cms-link(href=`/users/${review.user.username}`, target="_blank")= review.user.username

    td.review-comment-table= review.comment
      

    td.review-title-table
      a.anime-link.cms-link(href=`/anime/${review.anime.slug}`, target="_blank")= review.anime.title

    td.review-rating-table
      p.rev-rate
        - const sequenceNames = starSequence(review.rating);
          each starName in sequenceNames
            ion-icon.rev-icon(name=starName)

    td.review-date-table= review.addedAt.toString().slice(0, 21)
    
    - if(review.checked)
      td.review-approved-table
        ion-icon.table-icon.checked-icon(name="chevron-down-circle-outline")
    - else 
      td.review-approved-table
        ion-icon.table-icon.checked-icon(name="close-circle-outline")
    
    td.review-action-table
      a.edit-btn(href=`/admin/reviews/edit/${review._id}`)
        ion-icon.table-icon.edit-icon(name="create-outline")

      span.delimiter / 

      button.delete-btn(data-review-id=`${review._id}`)
        ion-icon.table-icon.delete-icon(name="trash-outline")

block content
  div.header-line
    h2.int-header Reviews

  section.admin-top-line-panel.sort-by
    div.admin-sort-by
      label.sort-text.admin-fields-spacing Sort by: 
      select.drop-down(name="sort")
        option(value="latest") Latest
        option(value="oldest") Oldest
        option(value="best") Highest rating
        option(value="worst") Lowest rating
        option(value="checked") Approved
        option(value="not-checked") For review


    form.admin-search-by
      div.search-by-unit
        input.search-review-field.admin-fields-spacing.search-input-field-admin(type="text", placeholder="Enter author's name", autofocus)
        button.admin-search-btn.search-review-btn.admin-fields-spacing.search-btn-admin Search reviews
      button.admin-search-btn.show-all-reviews-btn.admin-fields-spacing.show-all-btn-admin Show all
  //- TABLE WITH CONTENT ON THE SITE
  -if(reviews.length > 0)
    div.cms-content
      table.reviews-table.admin-cms-table
        thead.cms-table-header
          th Author
          th Comment
          th Anime
          th Rating
          th Date
          th Approved
          th Action

        tbody.reviews-table-body.admin-cms-table-body
          each review in reviews 
            +singleComment(review)
      
      //- PAGINATION
      - if(pagesTotal > 1)
        div.pagination-container
          div.pagination(data-pages-total=pagesTotal)
            button.pagination-btn.prev-page.hidden
              ion-icon.pagination-icon(name="chevron-back-outline")

            span.current-page.page-num
              | Current page - 
              span.update-cur-page 1

            button.pagination-btn.next-page
              ion-icon.pagination-icon(name="chevron-forward-outline")
  - else 
    div.admin-no-comment
      p.no-comment-message
        ion-icon(name="close-circle-outline")
        span.no-message-text Currently, users have left no reviews..