extends base

mixin singleCard(card)
  figure.anime-card
      img.anime-card-img(src=`img/anime/${card.imageCover}`, alt=`${card.tite} front cover!`)

      .card-info
        a.card-title(href=`/anime/${card.slug}`)= card.title
        span.card-japanese= card.japaneseTitle
        .card-facts
          span.card-release-year= card.releaseYear
          span.card-delimeter  / 
          p.cards-genres
            each genre, i in card.genres
              - if (i === card.genres.length - 1)
                a.genre.blue-under-link(data-genre="drama" href=`/genres/${genre}`)= genre
                span  
              - else
                a.genre.blue-under-link(data-genre="drama" href=`/genres/${genre}`)= `${genre},` 
                span  
          - if (card.reviews.length > 0)
            span.card-delimeter  / 
            span.card-rating
              ion-icon.card-rating-icon(name="star")
              span.card-rate-num= card.rating
          span.card-delimeter  / 
          span.card-reviews= `Reviews: ${card.reviews.length}`

        p.card-description= (card.summary.length < 270 ? card.summary : card.summary.slice(0, 270))  

        a.read-more.blue-under-link(href=`/anime/${card.slug}`) Read more...


block content
  section.overview-layout
    .sort-by
      label.sort-text Sort by: 
      select(class="drop-down" name="sort")
        option(value="newest") Newest
        option(value="oldest") Oldest
        option(value="rating") Rating 
        option(value="reviews") Rebiews

    .anime-cards
      each card in animes
        +singleCard(card)
    -if(renderPages)
      .pagination(data-pages-total=`${pagesTotal}`)
        button.pagination-btn.prev-page(class="hidden")
          ion-icon.pagination-icon(name="chevron-back-outline")
        span.current-page.page-num
          | Current page - 1
        button.pagination-btn.next-page
          ion-icon.pagination-icon(name="chevron-forward-outline")

